{namespace JIRA.Templates.Record}
/**
* @param record
*/
{template .recordRow}
<td class="laboratory-record-text">
    {$record.text}
</td>
<td class="laboratory-record-date">
    {$record.date}
</td>
<td class="jira-restfultable-operations"></td>
<td class="laboratory-throbber"></td>
{/template}