<!DOCTYPE html>
<html lang="en">
 <head>
     <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui.css" media="all">
     <script src="//localhost:2990/jira/atlassian-connect/all.js" type="text/javascript"></script>
 </head>
 <body>
    <section id="content" class="ac-content">
        <div class="aui-tabs vertical-tabs" id="vertical">
            <ul class="tabs-menu">
                <li class="menu-item">
                    <a href="#tab-A"><strong>A</strong></a>
                </li>
                <li class="menu-item active-tab">
                    <a href="#tab-B"><strong>B</strong></a>
                </li>
                <li class="menu-item">
                    <a href="#tab-C"><strong>C</strong></a>
                </li>
            </ul>
            <div class="tabs-pane" id="tab-A">

            </div>
            <div class="tabs-pane active-pane" id="tab-B">
                <div id="laboratory-panel-records" class="laboratory-panel">
                     <form id="laboratory-records" class="loading" action="#">
                         <table class="aui" id="laboratory-records-table">
                             <thead>
                                 <tr>
                                     <th>text</th>
                                     <th>date</th>
                                     <th><!--buttons--></th>
                                     <th><!--throbber--></th>
                                 </tr>
                             </thead>
                             <tbody>
                             </tbody>
                         </table>
                      </form>
                </div>
                <script type="text/javascript">
                    function getRequestString (type, id, content){
                        var url =   location.protocol+
                                    "//"+location.hostname+
                                    (location.port ? ":"+location.port: "")+
                                    contextPath+
                                    "/rest/laboratory/1.0/records/"
                                    +id;

                        var httpRequest;
                        if (window.XMLHttpRequest) { // Mozilla, Safari, ...
                            httpRequest = new XMLHttpRequest();
                            if (httpRequest.overrideMimeType) {
                                httpRequest.overrideMimeType('text/xml');
                                // See note below about this line
                            }
                        }
                        else if (window.ActiveXObject) { // IE
                            try {
                                httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
                            }
                            catch (e) {
                                try {
                                    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                catch (e) {}
                            }
                        }
                        if (!httpRequest) {
                            alert('Giving up :( Cannot create an XMLHTTP instance');
                            return false;
                        }
                        httpRequest.onreadystatechange = function() { alertContents(httpRequest); };
                        httpRequest.open(type, url, true);
                        httpRequest.send(content);
                        function alertContents(httpRequest) {
                        	try {
                        		if (httpRequest.readyState == 4) {
                        			if (httpRequest.status == 200) {
                        				alert(httpRequest.responseText);
                        			} else {
                        				alert('There was a problem with the request.');
                        			}
                        		}
                        	}
                        	catch( e ) {
                        		alert('Caught Exception: ' + e.description);
                        	}
                        }
                        return httpRequest.responseText;
                    }
                    var strText = getRequestString("GET","","")
                    document.write(strText);
                </script>
            </div>
            <div class="tabs-pane" id="tab-C">
                <h2>3 tab</h2>
                <p>Some text</p>
            </div>
        </div>
        <!-- // .aui-tabs -->
    </section>
 </body>
</html>